<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style1.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><span></span></label>
    <label for="active" class="close"></label>
    <div class="wrapper">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="usuariosadmin copy.html">Usuarios</a></li>
        <li><a href="publicaciones.html">Publicaciones</a></li>
        <li><a href="adopciones.html">Adopciones</a></li>
        <li><a href="#">Salir</a></li>
      </ul>
    </div>
    <div class="content">
    <main class="table">
        <section class="table__header">
            <h1>Adopciones</h1>
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
                <img src="images/search.png" alt="">
            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Publicacion <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Municipio <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Fecha <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Revision<span class="icon-arrow">&UpArrow;</span></th>
                        <th> Ver documentos</th>
                        <th> Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> 1 </td>
                        <td> <img src="" alt="">Tilin</td>
                        <td> Guadalajara </td>
                        <td> 17 Dec, 2022 </td>
                        <td>
                            <p class="status aceptada">Aceptada</p>
                        </td>
                        <td> <button class="boton-azul">Ver</button> </td>
                        <td> <button class="boton-rojo">Eliminar</button> </td>
                    </tr>
                    <tr>
                        <td> 2 </td>
                        <td><img src="" alt=""> Joshua </td>
                        <td> Guadajara </td>
                        <td> 27 Aug, 2023 </td>
                        <td>
                            <p class="">Rechazada</p>
                        </td>
                        <td> <button class="boton-azul">Ver</button> </td>
                        <td> <button class="boton-rojo">Eliminar</button> </td>
                    </tr>
                    <tr>
                        <td> 3</td>
                        <td><img src="" alt=""> Miguel </td>
                        <td> Zapoan </td>
                        <td> 14 Mar, 2023 </td>
                        <td>
                            <p class="">Sin revisar</p>
                        </td>
                        <td> <button class="boton-azul">Ver</button> </td>
                        <td> <button class="boton-rojo">Eliminar</button> </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</body>
<script src="script.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="scriptusuario.js"></script>
</html>