{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administracion de Adopciones</title>
    <link rel="icon" href="{% static 'img/lg.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
<input type="checkbox" id="active">
<label for="active" class="menu-btn"><span></span></label>
<label for="active" class="close"></label>
{% include 'reutilizables/footer_admin.html' %}
<div class="content">
    <main class="table">
        <section class="table__header">
            <h1>Adopciones</h1>
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                <tr>
                    <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Publicacion <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Municipio <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Fecha <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Revision<span class="icon-arrow">&UpArrow;</span></th>
                    <th> Ver documentos</th>
                    <th> Eliminar</th>
                </tr>
                </thead>
                <tbody>
                {% for adopcion in adopciones %}
                <tr>
                    <td> {{adopcion.id}}</td>
                    <td><img src="{{adopcion.idPublicacion.foto}}" alt=""> {{adopcion.idPublicacion.nombreMascota}}
                    </td>
                    <td> {{adopcion.ciudad}}</td>
                    <td> {{adopcion.fecha}}</td>
                    <td>
                        <p class="">Sin revisar</p>
                    </td>
                    <td>
                        <button class="boton-azul"
                                onclick="window.location.href='{% url 'detalles_formulario' id=adopcion.idFormulario.id %}'">
                            ver
                        </button>

                    </td>
                    <td>
                        <a href="/delete_adoption/{{adopcion.id}}"><button class="boton-rojo">Eliminar</button></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
</div>
</body>
<script src="script.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="scriptusuario.js"></script>
</html>