{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilosm2.css' %}"><!--/PETSCUTE/static/css/estilosm2.css-->
    <link rel="stylesheet" href="{% static 'css/estilos_footer.css' %}">
   <!--Estos 3 son para el diseño de las fotografias--> 
    <link rel="stylesheet" href="{% static 'css/detallesP.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://unpkg.com/open-props/open-props.min.css'><link rel="stylesheet" href="{% static 'css/detallesP.css' %}">

    <link rel="icon" href="{% static 'img/lg.png' %}" type="image/png">
    <!--Fuentes e iconos-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
     <!-- Enlace a Font Awesome para el ícono '?'-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/chatbot.css' %}">
    <link rel="stylesheet" href="{% static 'css/boton.css'%}">

    <title>Detalles de la Mascota</title>
</head>
<body>
 {% include 'reutilizables/nav_bar.html' %}
 <main>
<br><br><br><div class="card">
    <div class="card-content">
        <!-- Image section -->
        <div class="image-section">
            <div class="track-wrapper">
                <ul class="track">
                    <li class="track__item">
                        <img src="{{mascota.foto}}">
                    </li>
                    <li class="track__item">
                        <img src="{{mascota.foto}}">
                    </li>
                    <li class="track__item">
                        <img src="{{mascota.foto}}">
                    </li>
                </ul>
            </div>
        </div>
        <!-- Details section -->
        <div class="details-section">
            <div class="card-title"></div>
            <label>Nombre: </label>
            <p class="p1">{{mascota.nombreMascota}}</p>

            <label>Edad: </label>
            <p class="p1">{{mascota.edadMascota}} años</p>

            <label>Sexo: </label>
            <p class="p1">{{mascota.sexoMascota}}</p>

            <label>Fecha de publicacion</label>
            <p class="p1">{{mascota.fechaPublicacion}}</p>

            <label>Direccion </label>
            <p class="p1">{{mascota.direccion}}</p>

            <label>Ciudad </label>
            <p class="p1">[ciudad]</p>

            <!-- Detalles del usuario que lo publicó -->
            <hr> <!-- Una línea de separación -->
            <p class="p1">Publicado por: [nombre del usuario]</p>

            <!-- Botón de Adoptar más estrecho -->
            <button class="boton" onclick="window.location.href='{% url 'formulario adopcion' id=mascota.id%}'">Adoptar</button>
        </div>
    </div>
</div>

</main>


{% include 'reutilizables/footer.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>