{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalles del formulario</title>
    <link rel="stylesheet" href="{% static '/css/formulario2.css' %}">

</head>
<body>
    <div class="card">
        <div class="user-details">
            <img src="{{usuario.foto}}" alt="Foto">
            <h2>{{usuario.nombre}}</h2>
        </div>
        <div class="form-details">
            <p><strong>Razón por la cual desea adoptar:</strong> {{formulario.razon}}</p>
            <p><strong>¿En dónde viviría?:</strong> {{formulario.lugar}}</p>
            <p><strong>¿Experiencia previa con este tipo de mascotas?:</strong> {{formulario.experiencia}}</p>
            <p><strong>Comentario sobre su experiencia:</strong> {{formulario.comentario}}</p>
        </div>
    </div>
</body>
</html>