{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/estilosm2.css' %}"><!--/PETSCUTE/static/css/estilosm2.css-->
    <link rel="stylesheet" href="{% static 'css/estilo_foro.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos_footer.css'%}">
    <link rel="stylesheet" href="{% static 'css/card.css'%}">
    <link rel="stylesheet" href="{% static 'css/barra.css'%}">
    <link rel="stylesheet" href="{% static 'css/paginacion.css'%}">
    <link rel="icon" href="{% static 'img/lg.png' %}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{% static 'css/chatbot.css' %}">
    <!--<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
     <!-- Enlace a Font Awesome para el ícono -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/boton.css'%}">
    <title>Foro</title>
    <style>
        nav {
            position: fixed;
            top: 0;
            width: 100%;
            display: flex;
            padding: 15px;
            justify-content: space-between;
            align-items: center;
            background-color: #fcfdff;
            box-shadow: 0px 3px 5px 0px rgba(99, 98, 98, 0.75);
            z-index: 109;
            transition: all .4s ease;
            margin-top: 0; /* Elimina el margen superior de la barra de navegación */
        }
    </style>
</head>
<body>

 {% include 'reutilizables/nav_bar.html' %}


<!--Panel de busqueda   DEJE EL CODIGO POR SI SE OCUPABA 
<form method="post" action="{% url 'busqueda personalizada' %}" class="text-center">
    {% csrf_token %}
   <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <label class="sr-only" for="inputCiudad">Ciudad</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-map-marker-alt"></i></div>
                    </div>
                    <input type="text" name="ciudad" class="form-control" id="inputCiudad" placeholder="Ingresar ciudad">
                </div>
            </div>
            <div class="col-md-3">
                <label class="sr-only" for="selectTamano">Tamaño</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-arrows-alt"></i></div>
                    </div>
                    <select class="form-control" id="selectTamano" name="tamanio">
                        <option value="">Seleccione el tamaño</option>
                        <option value="Chico">Pequeño</option>
                        <option value="Mediano">Mediano</option>
                        <option value="Grande">Grande</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary btn-block">Buscar</button>
            </div>
        </div>
    </div>
</form>
<div class="container mt-4 text-center">
    <p>Para realizar una publicacion presione aqui: </p>
    <a href="{% url 'ir publicar' %}" class="btn btn-success"><i class="fas fa-pencil-alt mr-2"></i>Publicar</a>
</div>-->
<div class = "wrapper">
    <div id="search-container">
        <input type="search" id="search-input" placeholder="Busca tu mascota ideal aqui.."/>
        <button id="search">Buscar</button>
      </div>
      <div id="buttons">
        <button class="button-value" onclick="filterProduct('all')">All</button>
        <button class="button-value" onclick="filterProduct('Perros')">
          Perros
        </button>
        <button class="button-value" onclick="filterProduct('Gatos')">
          Gatos
        </button>
        <button class="button-value" onclick="filterProduct('Pajaros')">
          Pajaros
        </button>
        <button class="button-value" onclick="filterProduct('Cuyos')">
          Cuyos
        </button>
        <button class="button-value" onclick="filterProduct('Chico')">
            Chico
        </button>
        <button class="button-value" onclick="filterProduct('Grande')">
            Grande
        </button>
      </div>
<!--Panel de perritos-->
<div class="container__cards">
        {% for publicacion in publicaciones %}
            <a href="{% url 'detalles publicacion' publicacion.id %}" class="text-decoration-none">
                <div class="card">
                    <div class="cover">
                        <img src="{{ MEDIA_URL }}{{ publicacion.foto }}" alt="{{ publicacion.nombreMascota }}" style="height: 150px; object-fit: cover; border-radius:5px;">
                        <div class="img__back"></div>
                    </div>
                    <div class="description">
                        <h5>{{ publicacion.nombreMascota }}</h5>
                        <p>Aqui van los detalles se supone.</p>
                        <input type="button" value="Leer más"></a></input>
                    </div>
                </div>
            </a>
        {% endfor %}
</div>


<!--Barra de paginacion
<div class="paginacion">
        <ul class="pagination justify-content-center">
            {% if publicaciones.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">Primero</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ publicaciones.previous_page_number }}">Anterior</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">Primero</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link">Anterior</a>
            </li>
            {% endif %}

            {% for num in publicaciones.paginator.page_range %}
            <li class="page-item {% if publicaciones.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}

            {% if publicaciones.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ publicaciones.next_page_number }}">Siguiente</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ publicaciones.paginator.num_pages }}">Último</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">Siguiente</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link">Último</a>
            </li>
            {% endif %}
        </ul>
</div>-->

<div class="pagination">
    <span class="page-btn page-step" data-shown="1">&laquo;</span>
    <a href="#page-1" class="page-btn page-step" data-shown="2">&laquo;</a>
    <a href="#page-2" class="page-btn page-step" data-shown="3">&laquo;</a>
    <a href="#page-3" class="page-btn page-step" data-shown="4">&laquo;</a>
    <a href="#page-4" class="page-btn page-step" data-shown="5">&laquo;</a>
    <!-- Previous -->

    <a href="#page-1" id="page-1" class="page-btn">1</a>
    <a href="#page-2" id="page-2" class="page-btn">2</a>
    <a href="#page-3" id="page-3" class="page-btn">3</a>
    <a href="#page-4" id="page-4" class="page-btn">4</a>
    <a href="#page-5" id="page-5" class="page-btn">5</a>
    <!-- Page numbers -->

    <a href="#page-2" class="page-btn page-step" data-shown="1">&raquo;</a>
    <a href="#page-3" class="page-btn page-step" data-shown="2">&raquo;</a>
    <a href="#page-4" class="page-btn page-step" data-shown="3">&raquo;</a>
    <a href="#page-5" class="page-btn page-step" data-shown="4">&raquo;</a>
    <span class="page-btn page-step" data-shown="5">&raquo;</span>
    <!-- Next -->


</div>

<script src="{% static 'js/barra.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

{% include 'reutilizables/footer.html' %}
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>