{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilosm2.css' %}"><!--/PETSCUTE/static/css/estilosm2.css-->
    <link rel="icon" href="{% static 'img/lg.png' %}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>PetScue</title>
</head>
<body>
    {% include 'reutilizables/nav_bar.html' %} <!-- se manda a llamar un componente reutilizable-->
    <header>
        <div class="header__info">
            <div class="info">
                <div class="info__childs">
                    <p class="hello">¡Hola!</p>
                    <h1>Bienvenido a PetScue</h1>
                    <button onclick="irAAncla('seccion1')">Conocenos</button>
                </div>
            </div>
        </div>
        <div class="y-container"></div>
        <div class="y-container2"></div>
        <img class="imagen" src="/PETSCUTE/static/img/lg.png" alt="logo">
    </header>
    <a name="seccion1"></a>
    <main>
        <!--    SECCION DE QUIENES SOMOS -->
        <section>
            <div class="about-img" >
                <img src="/PETSCUTE/static/img/equipo.png" alt="">
            </div>
            <article>
                <h2>¿Quiénes somos?</h2>
                <p> Somos una empresa que ofrece servicios de intermediación entre personas que desean adoptar mascotas y organizaciones de rescate animal <br> <br> Existe para ayudar y generar conciencia de la situacion de muchos animales que viven en situacion de calle</p>
            </article>
        </section>
        <section>
            <h2>Mision y Vision</h2>
            <!--FALTA DESCRIPCION-->
            <p>..........................</p>
          <!-- MISION Y VISION DEL PROYECTO-->
            <div class="grid-courses">   
                <div class="grid-course-cont">
                    <div class="bg-color yellow" ></div>
                    <div class="cont ">
                        <h3>Mision</h3>
                        <p>Conectar de manera efectiva a animales con personas que desean brindarles amor y cuidado</p>
                    </div>
                </div>
                <div class="grid-course-cont">
                    <div class="bg-color purp"></div>
                    <div class="cont">
                        <h3>Vision</h3>
                        <p>Crear un mundo en el que cada mascota tenga un hogar amoroso y responsable</p>
                    </div>
                </div> 
            </div>
        </section>
    </main>
    <script src="{% static 'js/dark.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
</body>
</html>