{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/style1.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><span></span></label>
    <label for="active" class="close"></label>
    {% include 'reutilizables/footer_admin.html' %}
    <div class="content">
    <main class="table">
        <section class="table__header">
            <h1>Publicaciones</h1>
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
                <img src="images/search.png" alt="">
            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Publicaciones <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Municipio <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Fecha <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Estado/Revision<span class="icon-arrow">&UpArrow;</span></th>
                        <th> Ver publicacion</th>
                        <th> Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                {% for publicacion in publicaciones %}
                    <tr>
                        <td> {{publicacion.id}} </td>
                        <td> <img src="{{publicacion.foto}}" alt="">{{publicacion.nombreMascota}}</td>
                        <td> {{publicacion.idUbicacion.municipio}} </td>
                        <td> {{publicacion.fechaPublicacion}} </td>
                        <td>
                            <p class="status aceptada">Aceptada</p>
                        </td>
                        <td> <button class="boton-azul" onclick="window.location.href='{% url 'detalles publicacion' publicacion.id %}'">Ver</button> </td>
                        <td> <a href="delete_post/{{publicacion.id}}"><button class="boton-rojo">Eliminar</button></a> </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
</body>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="{% static 'js/scriptusuario.js' %}"></script>

</html>