{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/style1.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofST/mRvH+6C4Gg1xq4F2bY5q2KRbwD1d" crossorigin="anonymous">

</head>
    <style>
        /* Aplica z-index directamente a la clase del ícono de búsqueda */
        .fas.fa-search {
            position: relative;
            z-index: 3; /* Ajusta este valor según sea necesario */
        }
    </style>
<body>
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><span></span></label>
    <label for="active" class="close"></label>
    {% include 'reutilizables/footer_admin.html' %}
    <div class="content">
        <main class="table">
            <section class="table__header">
                <h1>Usuarios</h1>
                <div class="input-group">
                    <input type="search" placeholder="Search Data...">
                   <!--Icono de buscar--><i class="fas fa-search" style="position: absolute; z-index: 2; color: black;"></i>
                </div>
            </section>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Usuario <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Municipio <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Fecha <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Publicaciones <span class="icon-arrow">&UpArrow;</span></th>
                            <th> Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios%}
                        <tr>
                            <td>{{ usuario.id }}</td>
                            {% if usuario.foto %}
                            <td> <img src="{{usuario.foto}}" alt="">{{usuario.nombre}}</td>
                            {% else %}
                            <td> <img src="" alt="">{{usuario.nombre}}</td>
                            {% endif %}
                            <td> Guadalajara </td>
                            <td> {{usuario.fecha_creacion|date:"Y-m-d"}} </td>
                            <td> <strong> {{usuario.num_publicaciones}} </strong></td>
                            <td> <a href="delete_user/{{usuario.id}}"><button class="boton-rojo">Eliminar</button></a> </td>
                        </tr>
                        {% endfor %}
                        <!--
                        <tr>
                            <td> 2 </td>
                            <td><img src="" alt=""> Karla </td>
                            <td> Zapopan </td>
                            <td> 27 Agosto, 2023 </td>
                            <td> <strong>6</strong> </td>
                            <td> <button class="boton-rojo">Eliminar</button> </td>
                        </tr>
                        <tr>
                            <td> 3</td>
                            <td><img src="" alt=""> Angel Ortega </td>
                            <td> Zapotlanejo </td>
                            <td> 14 Marzo, 2023 </td>
                            <td> <strong>2</strong> </td>
                            <td> <button class="boton-rojo">Eliminar</button> </td>
                        </tr>
                        -->
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</body>
<script src="{% static 'js/scriptusuario.js' %}"></script>
</html>