
  <div class="container">
    <div class="btn-float">
        <button id="openModalBtn" class="btn"><i class='bx bx-help-circle'></i></button>
       <!--<a href="{% url 'ir chatbot' %}" target="_blank" class="btn"><i class='bx bx-help-circle'></i></a>-->
    </div>
  </div>


  <div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModalBtn">&times;</span>
        <div class="center">
    <div class="chat">
      <div class="contact bar">
        <div class="fas fa-robot custom-icon"></div>
        <div class="name">
          PETBOT
        </div>
      </div>
      <div class="messages" id="chat">
        <div class="time">
          Today at 11:41
        </div>




      </div>
      <div class="input">
        <i class="fas fa-camera"></i>
        <i class="far fa-laugh-beam"></i>
        <input placeholder="Type your message here!" type="text" id="user-input" name="user_input" />
        <i class="fas fa-paper-plane" onclick="sendMessage()"></i>
      </div>
    </div>
  </div>
    </div>
  </div>

<script>
    var openModalBtn = document.getElementById("openModalBtn");
var modal = document.getElementById("myModal");
var closeModalBtn = document.getElementById("closeModalBtn");

openModalBtn.addEventListener("click", function() {
    modal.style.display = "block";
});

closeModalBtn.addEventListener("click", function() {
    modal.style.display = "none";
});

window.addEventListener("click", function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
});
</script>
    <script>
    $(document).ready(function() {
    // Detectar la pulsación de la tecla Enter en el campo de entrada
    $('#user-input').keypress(function(event) {
        if (event.which === 13) {
            // Ejecutar la función sendMessage() cuando se presiona Enter
            sendMessage();
        }
    });
});
    // Esta función se ejecutará cuando el DOM esté completamente cargado

      // Aquí debes colocar el código que necesita esperar a que el DOM esté cargado

      function sendMessage() {
        var userInput = $('#user-input').val();

        addUserMessage(userInput);
        sendAjaxRequest(userInput);
        $('#user-input').val("")
      }

      function addUserMessage(message) {
       var userMessageContainer = $('<div class="message parker"></div>');

       // Agrega el mensaje del usuario al nuevo contenedor
       userMessageContainer.append('<div class="user-message">' + message + '</div>');

        // Agrega el nuevo contenedor al contenedor principal de mensajes
         $('.messages').append(userMessageContainer);
        //$('#pregunta').append('<div>User: ' + message + '</div>');
      }



 function addChatbotMessage(message) {

    var chatbotMessageContainer = $('<div class="message stark"></div>');
    var chatbotMessageElement = $('<div class="chatbot-message animated-message"></div>');

    // Agrega el nuevo contenedor al contenedor principal de mensajes
    $('.messages').append(chatbotMessageContainer.append(chatbotMessageElement));

    animateWords(message, chatbotMessageElement);
}

function animateWords(message, element, delay = 200) {
    var words = message.split(' ');

    function showNextWord(index) {
        if (index < words.length) {
            element.text(words.slice(0, index + 1).join(' '));
            index++;
            setTimeout(function () {
                showNextWord(index);
            }, delay);
        }
    }

    showNextWord(0);
}

      function sendAjaxRequest(userInput) {
      console.log(userInput);
        $.ajax({
          type: 'POST',
          url: "{% url 'ajax_chat' %}",
          data: JSON.stringify({ 'user_input': userInput,'csrfmiddlewaretoken': '{{ csrf_token }}' }),
          contentType: 'application/json;charset=UTF-8',
          success: function (response) {

            addChatbotMessage(response);
          },
          error: function (error) {
            console.error('Error:', error);
          }
        });
      }
  </script>