      <footer>
        <div class="columna">
            <span>
                <i class='bx bxl-facebook-circle'></i>
                SomosPetScue <br>
                <i class='bx bxl-instagram-alt' ></i>
                petscue-aak <br>
                <i class='bx bxl-twitter' ></i>
                petscue-aak <br>
            </span>
        </div>
        <div class="columna">
            <i class='bx bx-envelope'></i>
            petscue@gmail.com <br>
            <i class='bx bx-phone'></i>
            3338434225 <br>
            <i class='bx bx-home-alt-2'></i>
                Guadalajara, Mexico
        </div>
       <div class="columna">
            <p>Informacion Legal</p>
            <p>Politica de Privacidad</p>
        </div>
        
    </footer>
