
   <nav class="navMenu">
        <span class="logo"><i class='bx bx-home-heart'></i></span>
        <button class="btn-menu"><i class='bx bx-menu'></i></button>
        <ul class="menu-options">
            <li><a href="{% url 'ir inicio' %}">Inicio</a></li>
            <li><a href="{% url 'ir foro' %}">Foro</a></li>
            <li><a href="{% url 'ir publicar' %}">Publicar</a></li>
            <li><a href="{% url 'ir asociaciones' %}">Asociaciones</a></li>
            <li><a href="{% url 'ir perfil' %}">Perfil</a></li>
            <li><a href="{% url 'cerrar sesion' %}">Logout</a></li>
            <li class="switch">
                <i class='bx bxs-sun' ></i>
                <i class='bx bxs-moon' ></i>
            </li>
        </ul>
    </nav>