*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Roboto', sans-serif;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    background-color: #fcfdff;
    box-shadow: 0px 3px 5px 0px rgba(99, 98, 98, 0.75);
    z-index: 99;
    transition: all .4s ease;
}

body {
    padding-top: 70px; /* Ajuste la altura según la barra de navegación */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegure que el cuerpo ocupe al menos el 100% de la altura de la ventana */
   /* background: radial-gradient(circle, rgba(174,228,238,1) 0%, rgba(148,187,233,1) 100%);*/
}

.contaiener{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.contaiener .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    letter-spacing: 1.5px;
}
.contaiener .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: radial-gradient(circle, rgba(174,228,238,1) 0%, rgba(148,187,233,1) 100%)
}

.contaiener form .user-details{
 display: flex;
 flex-wrap: wrap;
 margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(45% - 15px);
    margin-right: 5px;
}

.user-details .input-box  .details{
    margin-bottom:  5px;
    font-weight: 500;
    display: block;
}


  /* Estilo para el foco del select */
  .user-details .input-box select {
    outline: none; /* Quita el contorno por defecto al hacer clic en el select */
    border-color: #9b59b6;/* Cambia el color del borde cuando el select está enfocado */
    height:  45px;
    width:  100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding-left: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

  }
  
.user-details .input-box input{
    height:  45px;
    width:  100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;

}

form .boton1{
    height: 45px;
    margin: 45px 0;
}

form .boton1 input{
    height:  100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: radial-gradient(circle, rgba(174,228,238,1) 0%, rgba(148,187,233,1) 100%)
}

form .button input:hover{
    background: radial-gradient(circle, rgba(174,228,238,1) 0%, rgba(148,187,233,1) 100%)
}

body {
    background-color: #fff; /* Fondo claro */
    color: #000; /* Texto oscuro */
}

/* Estilos para el modo oscuro cuando se activa la clase "active" */
body.active {
    background-color: #222; /* Fondo oscuro */
    color: #fff; /* Texto claro */
}

/* Estilos para el formulario en modo oscuro cuando se activa la clase "active" */
body.active form {
    background-color: #222; /* Fondo oscuro */
    color: #fff; /* Texto claro */
    /* Puedes ajustar los estilos de los elementos del formulario aquí */
}

/* Estilos para los elementos del formulario en modo oscuro cuando se activa la clase "active" */
body.active .user-details .input-box input,
body.active .user-details .input-box select,
body.active .form .boton1 input {
    background-color: #222; /* Fondo oscuro */
    color: #fff; /* Texto claro */
    border-color: #9c59b6; /* Borde claro */
    /* Puedes ajustar los estilos de los elementos del formulario aquí */
}


/* Estilos para la clase .container en modo oscuro cuando se activa la clase "active" */
body.active .contaiener {
    background-color: #222; /* Fondo oscuro */
    color: #fff; /* Texto claro */
    /* Puedes ajustar otros estilos específicos para la clase .container aquí */
}


body.active form .boton1 input{
    background: linear-gradient(123deg, rgba(171,96,200,1) 91%, rgba(0,0,0,1) 100%, rgba(195,109,228,1) 100%);
}




