@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif; 
}



body{
    background: #F1FAFF;
    height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    background-origin: content-box;
    background-position: center;
    background-size: cover;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    background-color: #fcfdff;
    box-shadow: 0px 3px 5px 0px rgba(99, 98, 98, 0.75);
    z-index: 99;
    transition: all .4s ease;
    margin-top: 0; /* Elimina el margen superior de la barra de navegación */
}